:root{
    --error-red: #a82e2e;
}

/* Center the form */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-family: var(--text);
}

/* Form styling */
.signup-form {
    background-color: var(--lavender);
    padding: 24px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 var(--purple);
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Form title */
.signup-form h3 {
    color: var(--purple);
    font-family: var(--title);
    font-size: var(--fz-title);
    margin-bottom: 16px;
    text-align: center;
}

/* Each input field container */
.input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

/* Labels */
.input-form label {
    font-size: var(--fz-normal);
    color: var(--purple);
    margin-bottom: 4px;
}

/* Inputs */
.input-form input {
    padding: 8px 12px;
    font-size: var(--fz-normal);
    border: 1px solid var(--lavender);
    border-radius: 6px;
    outline: none;
}

/* Inputs with error */
.flash-error {
    border: 1px solid var(--error-red);
    box-shadow: 2px 2px 0 var(--error-red);
}

/* Error messages */
.flash-msg-error {
    font-size: var(--fz-normal);
    color: var(--error-red);
    margin-top: 4px;
}

.signup-form p{
    text-align: center;
}