@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

/*This file is used for:
- Header/Navbar and Footer
- Buttons
- Colors
- Inputs
- Forms
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #F2EBFF;
    --light: hsl(235, 100%, 95%);
    --lavender: #9AA0FF;
    --light-purple: #3d4bce;
    --purple: #131E99;
    --title: 'Momo Trust Display';
    --text: 'nunito';
    --fz-title: 20px;
    --fz-normal: 15px;
}

body{
    background-color: var(--white);
    font-family: var(--text);
    min-height: 200vh;
}


/* BUTTON */
button{
    cursor: pointer;
    color: var(--purple);
    white-space: nowrap;  /* Keep all text in a single line */
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: 500;   
    margin: 3%;
    box-shadow: var(--purple) 4px 4px 0 0;    
    border: 1px solid var(--purple);
}

button:hover, .icon-btn:hover{
    box-shadow: var(--purple) 2px 2px 0 0;
    transform: translateY(2px);
}

.btn-row{
    margin-top: 4%;
    display: flex;
    gap: 5%;
}

.icon-btn{
    background-color: var(--light-purple);
    color: var(--light);
    font-size: 20px;
    box-shadow: var(--purple) 3px 3px 0 0;    
    padding: 5px 7px;
}

.primary-btn{
    background-color: var(--light-purple);
    color: var(--white);
}

.secondary-btn{
    background-color: var(--light);
    color: var(--purple);
}

.long-btn{
    box-shadow: var(--purple) 2px 2px 0 0;    
    background-color: var(--light);
    display: block;
    width: 100%;   
}