@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

/*This file is used for:
- Header/Navbar and Footer
- Buttons
- Colors
- Inputs
- Forms
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #F2EBFF;
    --light: #e7e9ff;
    --lavender: #9AA0FF;
    --light-purple: #3d4bce;
    --purple: #131E99;
    --title: 'Momo Trust Display';
    --text: 'nunito';
    --fz-title: 20px;
    --fz-normal: 15px;
}

body{
    background-color: var(--white);
    font-family: var(--text);
    min-height: 200vh;
}


/* BUTTON */
button{
    cursor: pointer;
    color: var(--purple);
}

.icon-btn{
    border: none;
    background: none;
    font-size: 30px;
}

.primary-btn{
    border-radius: 5px;
    border: 1px solid var(--purple);
    padding: 8px 15px;
    background-color: var(--light-purple);
    color: var(--white);
    font-weight: 500;   
    margin: 3%;
    box-shadow: var(--purple) 4px 4px 0 0;
}